*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 60px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid rgba(115, 98, 122, 0.103);
    border-radius: 5px;
    background-color: #f5f5f9;
    box-shadow: 3px 3px 15px rgb(48, 47, 47) ;
}

.div__picture{
    display: flex;
    background-image: url("https://assets.adidas.com/images/w_600,f_auto,q_auto/c7227d99699243099c24ac5e00406c2c_9366/Zapatilla_Forum_Mid_Blanco_FY4976_01_standard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.div__picture > div{
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 25px;
    font-size: 2.2rem;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgb(33, 33, 33);
}

.div__info{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 120px;
}

.product-name{
    font-size: 2.2rem;
    font-weight: 600;
}

.price{
    display: flex;
    align-self: flex-end;
    gap: 10px;
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(47, 62, 172);
}

.description{
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
    color: rgb(132, 129, 129);
   
}

.size{
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 50px;
    gap: 20px;
}

.size > p + p{
    color: rgb(132, 129, 129);
    font-size: 1.8rem;
    font-weight: 400;
}

.colors{
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 50px;
    gap: 20px;
}

.circles{
    display: flex;
    justify-content: flex-start;
}

.circles > div{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 0px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
}

.circles > div:first-child{
    background-color: rgb(47, 62, 172);
    border: none;
}

.circles > div:nth-child(2){
    background-color: rgb(213, 20, 49);
    border: none;
}

.circles > div:last-child{
    background-color: rgb(65, 168, 98);
    border: none;
}