* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9F2377;
  background: -moz-linear-gradient(top, #9F2377 0%, #A44385 10%, #C5874C 70%);
  background: -webkit-linear-gradient(top, #9F2377 0%, #A44385 10%, #C5874C 70%);
  background: linear-gradient(to bottom, #9F2377 0%, #A44385 10%, #C5874C 70%);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
