form:focus-within {
background-color: rgb(243, 243, 112);
  }
 
  
 input [type="radio"]:checked {
box-shadow: 10px 5px 5px rgb(76, 250, 18);
 }


 input[type="text"]:focus {
    background-color: rgb(255, 227, 248);
     }
  
 input[type="email"]:focus {
    background-color: rgb(255, 227, 248);
     }
      
     input [type="radio"]:active {
        box-shadow: 10px 5px 5px rgb(76, 250, 18);
         }

       

         input:out-of-range {
            background-color: red;
         }
p {
   font-size: 20px;
}         