#cuadro{
    width:100px;
    height:100px;
    background-color: #EA22F3;
    margin:20px 0;
}

p{
    border:1px solid
}

#cRojo{
    width:100px;
    height:100px;
    background-color: red;
    margin:10px;
}

#cVerde{
    width:100px;
    height:100px;
    background-color: green;
    margin:10px;
}