
.button {
    width: 350px;
    height: 100px;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d48224;
    background-color: #d48224;
    cursor: pointer;
}

.button-change-color {
    background-color: #4c964c;
    width: 350px;
    height: 100px;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4c964c;
    background-color: #4c964c;
    cursor: pointer;
}


.button:active, .button-change-color:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 10px #333333;
}