

body{
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-content: center;
    background-color: coral;
   justify-content: center;
}


.card{
    margin:20px;
    max-height: 350px; 
    max-width: 200px;
    border-radius: 3%;
    text-align: center;
    flex-direction: column;
    align-content: center;
    background-color: rgb(255, 252, 252) ;
    border-color: black;

}

.card-body{
grid-area: text;
}
.card-body p {
    color:gray;
    font-size: 15px;
    font-weight: 30;
    padding: 5px;

}

.thumb{
    width:100%;
    height: fit-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
    
}
 #oporto .card-footer{
     background-color: brown;
 }
.card-footer{
    font-size: x-small;
    grid-area: stats;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 20px;
    background-color: blue;
}

.card-footer #oporto{
    background-color: pink;
}

.card-footer .item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
