/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.container__card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    border-radius: 20px;
}

.header__card {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fes-es.facebook.com%2FSleepywhalebeer%2F&psig=AOvVaw0wavTn-p6aj8noxj4BefPH&ust=1652203479287000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKD95eH30vcCFQAAAAAdAAAAABAD");
    color: white;
    border-bottom: 1px white;
    display: flex;
    justify-content: center;
    }

.footer__card {
    background-color: #6C757D;
    color: white;
    border-bottom: 1px white;
}

.footer__card > {
    background-color: #6C757D;
    color: white;
    border-bottom: 1px white;
    margin: 5px;
}

.footer__card > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-bottom: 1px white;
}

.button{
color: white;
background-color: #289F43;
padding: 5px;
margin: 5px;
border-radius: 4px;
border: none;
box-shadow: none;
text-align: center;
}