* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: auto;
    background-color: lightgreen;
    width: 450px;
    padding: 20px 10px;
    margin-top: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.product {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1.5px solid grey;
    padding: 5px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}

.balance {
    border-bottom: 1px solid grey;
}

.span_name {
    font-weight: 600;
}

.button {
    align-self: center;
    padding: 2px 55px;
    color: white;
    background-color: rgb(95, 140, 239);
    border: none;
    margin: 5px 0px;
}

.button-none {
    display: none;
}