form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px;
    background-color: lightcyan;
    
}

form:focus-within {
    background-color: aqua;
}

.act:focus {
    background-color: aquamarine;
}

input[type=radio]:checked {
    box-shadow: 5px 5px 15px 5px green;
}

input[type=number]:out-of-range {
    background-color: red;
}

input[type=submit] {
    background-color: orange;
}

