div {
    min-width: 120px;
    height: 100px;
    background-color: #d114ee;
    display: flex;
    margin: 5px;
    justify-items: center;
    justify-content: center;
    align-items: center;

}
.container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.uno {
    order: 14;

} 
