
.input__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 50px;
    padding: 20px;
    background-color: #20b2aa;
}

.input__title {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.input__text {
    margin: 10px;
    font-size: 1.5rem;
}

