
.cards-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    margin: 30px 0px;
    
}

.div-envelop-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}