.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 100vh;

}

.morado > div {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 100px;
    background-color: rgb(142, 42, 235);
    color: black;
    text-align: center;
    margin: 5px;

}

.item {
    order: 14;
}