
* {

    margin: 0;

    padding: 0%;
    box-sizing: border-box;
}


.container {
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, #1032f0, #e7eefb);
    border-radius: 8px;
}

.visa {
display: flex;
color: rgb(255, 255, 254);
font-size: 2.5rem; 
text-align: right;
/*font-weight: bold; */ 

}

.datos {
    color: rgb(255, 255, 255);
    font-size: 22px; 
    margin: 30px;
    
    
}

.credit {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 45px;
   /* align-content: flex-start; 
   margin-bottom: 43px;
   */
}

p:first-child {
text-transform: capitalize;

}