*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CODE FOR HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
}

header > img {
    width: 8%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

nav > p {
    font-weight: bold;
    font-size: 1.5rem;
}


/*CODE FOR MAIN CONTAINER*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #050505;
    min-height: 100vh;
    box-shadow: 0px 5px 10px #786d6d;
    justify-content: space-around;
    align-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
    padding: 15px 15px;
}

/*CODE FOR CARDS*/

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:25px;
    width: 24%;
    border: 1px solid rgba(115, 98, 122, 0.103);
    border-radius: 5px;
    background-color: #f5f5f9;
    box-shadow: 3px 3px 15px rgb(48, 47, 47) ;
}

.one, .seven {
    display: flex;
    flex-grow: 2;
}

.div__picture{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.one > .div__picture {
    background-image: url("https://assets.adidas.com/images/w_600,f_auto,q_auto/c7227d99699243099c24ac5e00406c2c_9366/Zapatilla_Forum_Mid_Blanco_FY4976_01_standard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two > .div__picture {
    background-image: url("https://st4.depositphotos.com/3123063/31057/i/450/depositphotos_310577288-stock-photo-varna-bulgaria-august-13-2019.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three > .div__picture {
    background-image: url("https://st2.depositphotos.com/3123063/5988/i/950/depositphotos_59885421-stock-photo-varna-bulgaria-october-16-2014.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}

.four > .div__picture {
    background-image: url("https://i.pinimg.com/736x/ab/cb/72/abcb7222b1543e72cb90799cea86a96c--sneakers-shoes-adidas-shoes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.five > .div__picture {
    background-image: url("https://media.istockphoto.com/photos/shoe-isolated-on-white-product-shots-picture-id511033006?k=20&m=511033006&s=612x612&w=0&h=UW-pDR4g6tu-4UmBpjWGgkqGeGhyB8q5iCFOrPuVnzs=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
}

.six > .div__picture {
    background-image: url("https://5.imimg.com/data5/EN/WH/MY-52269820/adidas-sports-shoes-500x500.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.seven > .div__picture {
    background-image: url("https://5.imimg.com/data5/QM/OT/MY-28862418/adidas-mens-shoes-250x250.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.eight > .div__picture {
    background-image: url("https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWRpZGFzJTIwc2hvZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.div__picture > div{
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 25px;
    font-size: 2.2rem;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgb(33, 33, 33);
}

.div__info{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 25px;
}

.product-name{
    font-size: 1.9rem;
    font-weight: 600;
}

.price{
    display: flex;
    align-self: flex-end;
    gap: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    color: rgb(47, 62, 172);
}

.description{
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 5px;
    color: rgb(132, 129, 129);
   
}

.size{
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 15px;
    gap: 5px;
}

.size > p + p{
    color: rgb(132, 129, 129);
    font-size: 1.6rem;
    font-weight: 400;
}

.colors{
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 15px;
    gap: 10px;
}

.circles{
    display: flex;
    justify-content: flex-start;
}

.circles > div{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 0px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
}

.circles > div:first-child{
    background-color: rgb(47, 62, 172);
    border: none;
}

.circles > div:nth-child(2){
    background-color: rgb(213, 20, 49);
    border: none;
}

.circles > div:last-child{
    background-color: rgb(65, 168, 98);
    border: none;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
    margin-top: auto;
}

footer > p {
    font-weight: bold;
    font-size: 1rem; 
}

/* ANIMATIONS */

@keyframes PageAnimation {
    0% {
        opacity: 0;
    }

    33%{
        opacity: 0.3;
    }

    66%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}

.card {
    animation: PageAnimation 3s 1 linear;
}

.card:hover {
    transform: rotate(-1.1deg) scale(1.1);
    transition-delay: 0.2s;
    transition: 1.5s;
}