* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    padding-top: 20px;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
    width:100%;
    height:100px;
    position:fixed;
    background-color: #E8E9EB;
    padding:15px;
}

#logo {
    width: 100px;
    margin: 0 20px 0 0;
}

#logo img {
    width: 100%
}

#link {
    width: 500px;
}

#link a {
    text-decoration: none;
}

#link ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#link ul li{
    margin:30px;
}

/*=====================================================*/

main{
    /*background-color: pink;*/
    height:auto;
    width:100%;
    padding:120px 0 0px 20px;
    margin-bottom:30px;
}

#primero{
    width:150px;
    height:150px;
    background-color: peachpuff;
    border: 2px solid black;
    box-shadow: 0 0 3px white, 0 0 7px #444;    
    margin-bottom:20px;
}


#segundo{
    background-image: url(fondo.jpg);
    width:300px;
    height:100px;
    border: 2px solid green;
border-radius:20px;
box-shadow: 0 0 3px red, 0 0 7px brown;  
background: rgb(196,110,43);
background: linear-gradient(90deg, rgba(196,110,43,1) 58%, rgba(56,228,9,1) 79%); 
margin-bottom:20px;
}


#tercero{
    width:450px;
    height:450px;
    border: 1px solid red;
    background-image: url(fondo.jpg);
    object-fit: cover;
}

#tercero p{
    color:white;
    background-color: transparent;
    height:30px;
    translate: 0 400px;
    text-align:left;
    line-height: 30px;
    padding-left:30px;
    text-shadow: 0 0 3px yellow, 0 0 6px red;
    font-size:30px;
}

footer{
    background-color: silver;
    height:70px;
    width:100%;
    display: flex;
    padding:6px;
}

footer img{
    height:60px;
    width:60px;
    border-radius: 100%;
    margin:0 0 0 500px;
}
footer p{
    margin:auto 0;
    color:red;
    font-size:20px;
}

/*===========================================*/
#main{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_cuadro{
    min-width: 350px;
    height:350px;
    border:1px solid black;    
    margin: 10px;
    display:flex;
}

.main_cuadro p{
    color:#ffffff;
    margin:auto;
    font-size:30px;
    text-shadow: 0 0 3px black;
}

#uno{
    background-color: #444444;
}

#dos{
    background-color: #399675;
}

#tres{
    background-color: #69113d;
}

#cuatro{
    background-color: #7d2121;
}

#cinco{
    background-color: #8a9f20;
}

#seis{
    background-color: rgb(237, 247, 28);
}

#siete{
    background-color:  rgb(156, 217, 137);
}

#ocho{
    background-color: rgb( 205, 75, 34 );
}

#nueve{
    background-color: rgb( 16, 156, 31 );
}

#diez{
    background-color: rgb( 16, 220, 220) ;
}

/*=======================================*/

#container{
    margin:20px auto;
    width:360px;
    height:auto;
}

form{
    background-color: silver;
    padding:20px 0 20px 35px;
border-radius:20px;
}

form:hover{
    background-color: peachpuff;
}

h3{
    margin:30px auto;
    text-align:center;
    color:blue;
}

.inputs{
margin:10px 0;
}

#nombre:focus{
    background-color: rgb(159, 199, 230);
}

#mail:focus{
    background-color: rgb(159, 199, 230);
}

#mail{
    margin-left:10px;
}

#radios{
    width:295px;
    padding:20px 20px;
    justify-content: center;
    border-radius:20px;
}

#radios p{
    margin-bottom:10px;
    font-weight:bold;
    font-style:italic;
    font-size:15px;
    color:blue;
}

#normal{
    margin-right:20px;
}

#cant{
margin-top:20px;
}

#comprar{
width:100px;
height:30px;
margin-top:20px;
display:flex;
color:blue;
font-weight:bold;
}

#cancelar{
    width:100px;
    height:30px;
    margin-top:20px;
    
    color:blue;
    font-weight:bold;
    }

#botones{
    display:flex;
    width:300px;
    justify-content: space-around
}
