* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hola {
    position: sticky;
}

.primero {
    width: 150px;
    height: 150px;
    border: solid;
    background: orange;
    box-shadow: 10px 5px 5px black;
}
.segundo {
        width: 300px;
        height: 10px;
        border: solid;
        background: linear-gradient(red, yellow);
}

.tercero {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 10px;
    left: 10px; 
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    color: white;
    font-weight: bold;
    font-weight: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

