*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
height: 300px;
width: 500px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 9%, rgba(189,76,201,1) 63%, rgba(0,212,255,1) 100%);
border-radius: 10px;
padding: 30px;
margin: 20px;
/* min-height: 100vh; para que el section ocupe toda la pantalla */
}


.div-credit-visa{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

#credit::first-letter{
    display: flex;
    justify-content:left;
    font-size: 20px;
}

#visa{
    display: flex;
    justify-content:right;
    align-items: flex-end;
    font-size: 30px;
}

.div-name-number {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 30px;
    align-items: baseline;
    padding-top: 80px;

}
