* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 25vw;
    max-width: 300px;
    min-width: 300px;
    background: linear-gradient(45deg, #d3ebc9 0%, #c1f1b8 50%, #aad891 100%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #282828;
    margin: 20px;
}

.name-en, .name-es, .dial-code, .code {
    color:#938f8f;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 25px;
    text-align: center;
}
