
.app-header__container{
    padding: 2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}


.nav__container > .nav__link {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-right: 1px solid white;
    margin-right: 0.5rem;
}

.circle--red{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
