* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bebbbb;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    max-width: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgb(126, 124, 124);
}

.image-text-container {
    position: relative;
    width: 100%;
    
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.text-image {
    position: absolute;
    top: 0;
    margin: 30px 0px 0px 15px;
    color: #ffffff;
    font-size: 1.8rem;
}

.date-name-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 93%;
    margin-left: 3%;
    padding:30px 5px;
    border-bottom: 2px solid #e1dbdb;
}

.date {
    color: #757272;
    font-size: 1.2rem;
}

.city-name {
    font-size: 3rem;
    font-weight: 900;
}

i {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: -25px;
    padding: 15px;
    font-size: 1.8rem;
    background-color: rgb(58, 58, 176);
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #75727281;
}

.description-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
}

.description {
    color: #757272;
    font-size: 1.2rem;
}

.read-more-button {
    background-color: rgb(45, 94, 227);
    color: #ffffff;
    margin: 50px 0px 15px 0px;
    padding: 15px 35px;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #75727296;
}