*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width:100%;
    height:300px;
    background-color: #77df77;
    justify-content: center;  
}

.shopping__cart-container {
    background-color: #ffffff;
    width: 500px;
    height: 250px;
    border-radius: 3px;
    margin: 1rem;
    
}

.shopping__cart-title {
    padding: 0.75rem;
}

.list__items-container {
    list-style: none;
}

.list__items-container > li {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
}

.list__items-container > li:first-child {
    border-top: 1px solid lightgray;
}

.shopping__cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 2px;
}

.shopping__cart-button {
    width: 200px;
    padding: 0.4rem;
    background-color: #089bea;
    border:none;
    color: #ffffff;
}

.shopping__cart-button-hidden {
    display: none;
} 
