* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.card-container {
    height: 600px;
    width: 400px;
    background-color: white;
}

.image{
    width: 400px;
    height: 220px;
}

.image-text{
    position: relative;
}

.text{
    position: absolute;
    color: white;
    top: 0;
    margin: 20px 0 0 10px;
}

.date-name {
    margin: 30px 15px;
    border-bottom: 1px solid gray;
    position: relative;
}

.logo-share {
    margin: 0px 5px;
    padding: 22px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://www.estrategica.com/img/servicios/icon-adquisicion-socialmedia.svg);
    background-size: 100%;
    position: absolute;
    top: -57px;
    right: 15px;
    box-shadow: 6px 7px 10px 0px gray;
}

.date{
    color: gray;
}

.city-name{
    margin-top: 25px;
    margin-bottom: 45px;
}

.description-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description{
    margin-bottom: 50px;
    color: gray;
}

.read-more-button{
    background-color: rgb(56, 56, 147);
    color: white;
    padding: 15px 30px;
    box-shadow: 6px 7px 10px 0px gray;
}




