* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    padding: 80px 80px;
    background-color: rgb(130, 225, 130);
    width: 450px;
    margin: 20px auto;
}

.trafic-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin: auto;
    background-color: rgb(232, 212, 30);
    width: 150px;
    height: 640px;
    border: 1px solid black;
    border-radius: 39%;
    padding: 20px 0px;
}

.trafic-light-color {
    width: 100px;
    height: 205px;
    background-color: black;
    margin: 0px 25px;
    border-radius: 60%;
    border: 1px solid black;
}

.text {
    align-self: flex-end;
    text-align: center;
    font-size: 2.5rem;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}