* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background: linear-gradient(45deg, #220F09 0%, #545555 50%, #828886 100%);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 25vw;
    max-width: 300px;
    min-width: 300px;
    background-color: rgb(242, 236, 236);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #282828;
    margin: 20px;
}

.city-image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

.title-visited__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
}

.description {
    color:#938f8f;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 25px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin-top: auto;
}

.footer:first-child {
    border-right: 11px solid #545555;
}

.views-comments-rating__containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 5px 0px;
    font-size: 0.7rem;
}