.semaforo {
  
    background-color: black;
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
}

.semaforo span {

    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid darkgrey;

}
.rojo { background-color: red; }
.ambar { background-color: yellow; }
.verde { background-color: green; }
