* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#nombre {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#email {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#iphone-13 {
    margin: 10px;
}

#cantidad {
    margin: 10px;
}

form:focus-within {
    background-color:blueviolet;
  }

input[type="radio"]:checked{
    box-shadow: 10px 5px 10px green;
}

input[type="text"]:focus{
    background-color: blue;
}

input[type="email"]:focus{
    background-color: blue;
}

input[type="number"]:out-of-range {
    color:red;
}

input[type="submit"]:disabled{
    background-color: #ccc;
}