.box {
    height: 100px;
    width: 100px;
}

.moverse {
    background-color: red;
    animation: move 1s infinite linear;
    
}

@keyframes move {
    0%{
        transform: translateX(0px);
    }

    0%{
        transform: translateX(300px);
    }
}

.rotar {
    background: linear-gradient(green, orange);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }

    100%{
        transform: rotateY(160deg);
    }
}